body {
    margin: 0;
    padding: 0;
  }

 .Logo {
    float: left;
    margin-top: 15px;
  }

  .lemon {
    margin-top: 15px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .navigation-bar {
    background-color: #352d2f;
    height: 70px;
  }

  .navigation-container {
    height: 70px;
  }


  .navigation-bar Logo {
  float:left;
  margin-top: 15px;
  }

  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align:top;
  }

  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }

  .navigation-bar li a {
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }

  #menu {
    float: right;
  }

  .navbar:hover {
    color: #f77062;
    transition: all 0.3s ease;
}