body {
    margin: 0;
    padding: 0;
  }



.reservation-container {
    background-image: url("restaurant.jpg");
    display: flex;
    flex-direction: column;
    height: 140vh;
    align-items: center;
}

.reservation-blocked {
    background-color: #515047;
    width: 700px;
    overflow: hidden;
    margin-top: 40px;
    opacity: 1;
}

.reservation-header {
    display: flex;
}

.reservation-lemon {
    width: 300px;
    height: 300px;
    justify-content: center;
    margin-left: 185px;
    opacity: 1;
}

.reservation-subtitle > h2 {
    text-align: center;
    font-size: 40px;
    color: black !important;
    font-family: sans-serif;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    opacity: 1;
    margin-left: 80px;
    margin-right: 80px;
}

.form-text {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: large;
    color:black
}

.label {
    float: left;
}

.booking-btn {
    height: 55px;
    background-color: #F4CE14;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: klarna;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 168px;
    cursor: pointer;
    width: 225px;
}

