body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  align-items: center;
  height: 80px;
}

header .Logo {
  float: left;
  height: 80px;
}

.lemon {
  margin-left: 50px;
  margin-right: 60px;
}

header nav {
  display: flex;
  gap: 130px;
  justify-content: center;
  max-width: 1200px;
}

.navbar:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

.topNav {
  display: flex;
  text-decoration: none;
  position: relative;
  margin: 0 0.5rem;
  padding-left: 10px;
  font-size: 1.1rem;
  margin-left: 30px;
}

.topNav:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

#menu {
  float: right;
}